
.meridian-font {
	font-family: 'Merienda', cursive;
}

.copyright {
    margin-top: 0;
    padding-top: 0;
}

.connect-link {
    width: auto;
    justify-content: space-between;
    align-self: center;
}

.connect {
    width: 10%;
}