
.meridian-font {
	font-family: 'Merienda', cursive;
}

.copyright {
    margin-top: 0;
    padding-top: 0;
    height: 30px;
}

.connect-link {
    width: auto;
    justify-content: center;
    align-self: center;
}

.connect {
    width: 15%;
}