.enter {
  position: relative;
  top: 450px;
  left: 50%;
}

.title-one {
  font-size: 5em;
  line-height: 1.2;
  position: relative;
  top: 300px; 
}

.title-three {
  font-size: 40px;
  width: 60%;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
}

.title-two {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
/* 
.heading {
  position: absolute;
  top: 200px;
  left: 1%;
}   */

.front {
  
  /* background-image: url("../assets/rider.png");
  background-repeat: no-repeat; */
  height: 100vh;
  /* background-size: cover; */
  width: 100%;
}

.second {
  /* background-image: url("../assets/edited-rider2.jpg"); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
}

.white {
  color: white;
}

.frame {
  height: 520px;
}

.african {
  height: 350px;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}