.join {
    height: 300px;
}

.join-image {
    position: relative;
    left: 70%;
}

.fav-icons {
    justify-content: space-between;
    width: 20%;
}

.center {
    margin-left: auto;
    margin-right: auto;   
}

.join-text {
    text-align: center;
}

.topic-join {
    text-align: center;
    word-wrap: break-word;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.06;
}

.soc {
    justify-content: center;
}

.join-soc {
    width: 20%;
}