.marketplace {
    background-image: url('../assets/background-white.jpg');
    background-color: #f2e0c8;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.topic-marketplace {
    text-align: center;
    word-wrap: break-word;
    color: #070301;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.06;
}