.font-meridian {
  font-family: 'Merienda', cursive;
}

.font-medieval {
  font-family: 'MedievalSharp', cursive;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #F14D5D;
}

.white {
  color: white;
}

.pink {
  color: #F14D5D;
}

.wallet {
  cursor: pointer;
}

.hr {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.logo {
  width: 50%;
}

.top-nav {
  background-image: url("../assets/wood1.jpg");
  background-color: brown;
  background-repeat: no-repeat, repeat;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.flex1 {
  width: 20%;
}

.flex2 {
  width: 80%;
}

.flex3 {
  width: 10%;
}