.play {
    background-image: url('../assets/background-white.jpg');
    background-color: #f2e0c8;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.steps {
    width: 50%;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    margin: auto;
}

.child {
    text-align: center;
    cursor: pointer;
    color: black;
}

.step-figure {
    background-color: grey;
    width: 30%;
    margin: auto;
}

.setup-navigation {
    width: 80%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.back {
    color: black;
}

.arrow {
    width: 20px;
}

.line {
    width: auto;
}

.platform {
    height: 50vh;
}

/* .step-figure:hover {
    background-color: black;
}

.hightlighted {
    background-color: black;
    color: white;
} */