.trailer {
    background-image: url('../assets/background-white.jpg');
    background-color: #f2e0c8;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.rough {
    width: 100%;
}

.video-responsive {
    
    height: 480px;
    width: 100%;
    margin-top: 100px;
}

.youtube {
    width: 80%;
    height: 450px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.sub {
    text-align: center;
}