.trailer {
    background-image: url('../assets/background-white.jpg');
    background-color: #f2e0c8;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
